<ion-content *ngIf="sentTempPwd == false" >
  <!-- <ion-toolbar class="login-home-page durity-bg" >
      <div class="durity-back-btn">
          <ion-buttons slot="start">
            <ion-button slot="icon-only" fill="clear" size= "small" (click)="goBack()" class="back-btn"> 
                <ion-icon name="ios-arrow-back"></ion-icon>
                <small style="font-weight: bold;">Back</small>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-toolbar> -->
  
<div  padding>
<!-- <div class="div-section" >
  <h1 class="hang-on">Hold On!  </h1>
  <p style="font-size: 14;font-weight: bold;" >Let's reset your password.</p>
  </div> -->
  <form [formGroup]="forgotPassForm" (ngSubmit)="continue()" #reset="ngForm">
    <img class="plane" src="/assets/imgs/paper_plane_icon.png" >
    <h2 class="frgt">Forgot your password?</h2>
    <div style="margin-top: 10%;">
      <p class="tets">Enter your registered email below </p>
      <p style="margin-top: -4%;" class="tets">to receive a new password</p>
    </div>

  <div padding>
    <!-- <div class="text">
    <ion-label style="font-size: 14;font-weight: bold;">Please enter your email</ion-label>
  </div> -->
    <div >
        <ion-item class="signup-input" lines = "none">
            <ion-input type="email" placeholder="example@gmail.com"  formControlName= "email"></ion-input>
        </ion-item>
    </div>
    <div
    *ngIf="forgotPassForm.get('email').invalid  && (forgotPassForm.get('email').touched || forgotPassForm.get('email').dirty || reset.submitted)">
    <small class="error" *ngIf="forgotPassForm.get('email').errors.required">Please enter email id </small>
  

</div>
  
  </div>

  <div style="margin-top: 5%;">
      <ion-button  class="buton" color = "ble" type="submit"><b style="font-size: 16;color: rgb(255, 255, 255);text-transform: none;">Send</b></ion-button>
  </div>
  <div style="margin-top: 40%;">
    <button  class="bcktl"  (click)="goBack()"><b style="font-size: 120%;color: #464646;">Back to Login</b></button>
  </div>
  </form>
</div>
</ion-content>

<ion-content *ngIf="sentTempPwd == true" >
    
<div style="text-align: center;" padding>
  <div >
    <img class="right" src="/assets/imgs/right.png"  />
    <h2 style="margin-top: 8%;" class="frgt">Temporary password sent!</h2>
</div>
<div style="margin-top: 12%;" >
  <!-- <h1 class="hang-on">Hold On!  </h1> -->
  <p class="tets" >A temporary password has been sent to </p>
  <p style="margin-top: -3%;" class="tets">your registered email {{forgotPassForm.value.email}}.</p>
  <p style="margin-top: -3%;" class="tets">You can login using this temporary</p>
  <p style="margin-top: -3%;" class="tets">password & create a new password</p>
  <p style="margin-top: -3%;" class="tets">from within the App.</p>
  </div>
  <div class="div-section">
    <ion-button style="width: 84%;margin-top:8% ;" (click)="clickOk()" color="ble"   class="buton">
      <b style="font-size: 16;color: rgb(255, 255, 255);text-transform: none;" > Okay</b> 
    </ion-button>
  </div>
</div>
</ion-content>
