// .arrow{
//     align-items: center;
// }

// ion-checkbox{
//     // --height : 25px;
//     // --width: 25px;
//     --checkmark-color: #4895F1;
//     --background-checked: #FFFFFF;
//     --border-color:black;
//     --border-color-checked : #4895F1;
    
// }

// ion-input{
//    --border-color: #4895F1;
// }

// .show-password-icon {
//     position: relative;
//     bottom: 10%;
//     font-size: 1.5rem;
//     text-align: right;
//     color:#4895F1
//   }

//   .btn-section{
//       padding-top:6%;
//   }

//   .help{
//       color:#4895F1;
//       font-size: 20px;
//       padding-left: 10px;
//       padding-top: 8px;
//   }

//   .label-icon{
//       font-size: 32px;
//       padding-right: 15%;
//   }

//   .row-padding{
//       padding-left: 5%;
//       padding-bottom:5%;
//       padding-right: 5%;
//   }

//   .enter-password{
//     border:1px solid #4895F1;
//     border-radius: 5px;
//   }

//   .abc{
//     .ionic .checkbox input:before, 
//     .ionic .checkbox-icon:before {
//       background: #EBF2FF;    /* use your color hex instead of #333 */
//     //   border-color: #333;
//     }
//   }
//   .use-pink-background {
//     --ion-background-color: #EBF2FF;
//   }

//   ion-input {
//   &.custom-input {
//    padding-top: 10px;
//     ::placeholder {
//       font-size: 12px; //sets placeholder font size
//     }
//   }
// }

// .help-btn{
//   font-size:22px;
//   color:#FF715B;
//   padding-left: 10px;
//   padding-top: 8px;
//  }


.plane{
    height: 25%;
    width: 25%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
  }
  .frgt{
    text-align: center;
    font-size: 115%;
    font-weight: 700;
    color: #313131;
  }
  .tets{
    text-align: center;
    color: #aaaaaa;
    font-size: 80%;
    font-weight: 570;
    margin-top: -8%;
  }
  .tets1{
    margin-left: 18%;
    color: #aaaaaa;
    font-size: 80%;
    font-weight: 570;
    margin-top: -3.5%;
  }
  .small{
    
    height: 7%;
    width: 7%;
    margin-left: 9%;

  }
  .plane1{
    height: 53px;
    width: 53px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
  }
  .plane2{
    height: 80px;
    width: 80px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
  }

  .frgt1{
    text-align: left;
    font-size: 100%;
    font-weight: 700;
    color: #616161;
  }
  .frgt2{
    text-align: left;
    font-size: 100%;
    font-weight: 700;
    color: #616161;
    margin-top: -10px;
  }
  .cardion{
      
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0px 2px 2px 2px #e8e8e8;
      height: fit-content;
  }