.note{
    color: black;
    font-weight: bold;
}
.click{
    text-decoration: underline;
    color: #4895F1;
}
ion-button{
        height: 36px;
        width:102px;
        padding-top: 7px;
}
.title{
    font-weight: 700;
}
.know-more-section {
    display: inline-block;
    line-height: 0.5;
        
    }
    .dropdown-icon {
        display: inline-block;
        size: 1.5em;
    }
    
    .know-more-title {
        
        display: inline-block;
    
    }