<ion-content padding style="text-align: justify;">
  <p class="title font-16" >Would you like us to check if you enter the same document password next time?</p>
  <p class="font-14" >If <span class="note font-12">yes, </span> we store the salted hash value of document password in our server to check correct password every time you try to encrypt or decrypt a document.</p>
  <p class="font-14" >If <span class="note font-12">no, </span> we are unable to securely re-validate your document password to decrypt the file, you will permanently lose access to your file if you enter the wrong password.</p>
  <div >
    <div class="know-more-section">
      <div class="dropdown-icon">
         
        <ion-icon color="primary" item-left ></ion-icon>
      </div>
      <div class="know-more-title">
        <span class="click font-14"><b>Click Here </b> </span><span class="font-14">to know more..</span>
      </div>
      
      
    </div>
    
        
    <div  class="font-14" style="text-align: justify;">
        <p>Password hashing is a process of turning a password into a scrambled representation of a password, Let’s say Arjun encrypts his file with password “hunter2”. </p>
        <p> Durity uses the hash function to convert his passwords in a hashed format. The hash of “hunter2”, which is “2ab96390c7dbe3439de74d0c9b0b1767”, is then stored in his local device.</p>
        <p>Now when Arjun tries to decrypt his file, he types “hunter2” into the password field.</p>
        <p>Durity puts the password through the hash function again, compares the current hash value and locally stored hash value yielding the same hash string and letting him log in successfully.</p>
        <p>If Arjun had typed in “hunter1”, the result of the function would be “726ad07bc398372b56a52e3de8693679”.</p>
        <p>He would not be able to decrypt the file. If the hashes match the user is granted access. If not, the user is told they entered invalid login credentials.</p>
       <div class="ion-text-center">
          </div>
          
    </div>
      
      </div>
    <ion-row text-center class="select">
        <ion-col size="6" >
          <ion-button color="light" (click)="no()" size="medium">No</ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button color="primary" (click)="yes()" size="medium">Yes</ion-button>
          </ion-col>
      </ion-row>
</ion-content>