
.set-pass{
  color:white;
  text-align: center;
  font-weight: 500;
}

.show-password-icon{
  
  font-size: 1.5rem;
  color: black; 
}
.error{
  color:red;
  padding:5px;
}
.btn{
  text-align: end;
  margin-top: 15%;
}
.signup-input {
  --background: rgb(231, 237, 243) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  height: 38px;

  ion-input{
    font-size: 12px;
    bottom: 10%;
    color:black;
  }
}


