<div padding>
    <p class="set-pass font-14">Setup your password to encrypt the document</p>
    <form novalidate (ngSubmit)="f.form.valid && onProceed()" #f="ngForm">
    <div class="signup-padding">
        <ion-item class="signup-input">
            <ion-input [type]="passwordType" placeholder="Password" [(ngModel)]='encryptionKey' name="encryptionKey" clearOnEdit="false" required ></ion-input>
            <ion-icon [name]="passwordIcon" item-right (click)="showPassword()" class="show-password-icon"></ion-icon>
        </ion-item>

        
    </div>
    <div *ngIf="f.submitted && f.invalid" class="error"> Password is required
    </div>
   
        <div class="btn">
          <ion-button color="light" type="submit" style="float: right; right: 3%; position: relative;">
            <ion-icon slot="end" src="assets/imgs/baseline-arrow_right_alt-24px.svg"></ion-icon>
            <span style="text-transform: capitalize">Proceed</span>
          </ion-button>
        </div>
        </form>
      </div>


