<ion-content style="height: 100%;">
  <ion-toolbar>
     
      <div >
        <ion-row style="padding: 2%;">
          <ion-col size='3'>
            <ion-col size="auto"><img src="/assets/imgs/Group 740.svg" alt="" /></ion-col>
          </ion-col>
          <ion-col style="font-weight: bold;font-size: 20px;padding-top: 10px;">
            <label> File has been saved in your </label>
            <label><label style="color: #4895F1;" >'Downloads'</label> folder.</label>
          </ion-col>
        </ion-row>
         
      </div>
    
  </ion-toolbar>
  <div style="padding-right: 5px;padding-left: 5px;">

    <ion-row>
      <ion-col size='1'>
   <span> <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /> </span>
  </ion-col>
  <ion-col><span>
        <label style="font-weight: bold;">Print the file and sign</label>
         on all pages along with two witnesses in the same place and at the same time
        </span>  </ion-col>   </ion-row>

        <ion-row>
          <ion-col size='1'>
           <span> <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /></span>
          </ion-col>
          <ion-col><span>
         <label> If the second last page has lots of empty space in the end, you can draw a diagonal line and write "Space left blank intentionally".
        </label></span></ion-col>
        </ion-row>

        <ion-row>
      
        <ion-col size='1'>
         <span> <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /></span>
        </ion-col>
        <ion-col><span>
       <label> Keep the document safe and let your beneficiary know where it is stored. You can also <label style="font-weight: bold;">scan the signed copy</label> of your
        Will and <label style="font-weight: bold;">upload it to Durity</label> for safekeeping.</label></span></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size='1'>
          <span>  <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /></span>
        </ion-col>
        <ion-col><span>
        It is recommended that you <label style="font-weight: bold;">take a video</label>
         of yourself along with your witnesses while signing the Will and <label style="font-weight: bold;">upload it to Durity.</label>
        </span> </ion-col>
      </ion-row>
      
    
    
    

  </div>
  <div style="padding-right: 10%;padding-top: 15px;">
  <ion-button (click)="goToHomePage()" float-right>Close</ion-button>
  </div>
</ion-content>