ion-content {
    --background: #FFFFFF;
    //  url("../../../../assets/imgs/images.jpg") no-repeat center center / cover;
}
ion-header {
    --background: #FFFFFF;
    //  url("../../../../assets/imgs/images.jpg") no-repeat center center / cover;
}
.optionBtn{
    --border-radius: 20px;
    --color:#1473E7;
    --color-activated:#C4DFFF;
    --background-activated: #E3F0FF;
    font-weight: bold;
    background-color: #E1F2FB;
    border-radius: 20px;
   
}