<ion-header no-border>
  <ion-toolbar style="padding-top: 4%;" >
    <div class="faqs-section">
			<ion-label> FAQs</ion-label>
		</div>

		<ion-buttons slot="end">
			<ion-button slot="icon-only" fill="clear" (click)="goto('home')">
				<span style="color:#FF715B;font-size:25px;">
					<ion-icon name="home"></ion-icon>
				</span>
			</ion-button>
		</ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
<div class="data">
<div class="heading">
<b>How secure are we?</b>
</div>
<div padding>
<p class="subheading">
How does Fingerprint work?
</p>
<p class="info">
We use your phone password for authentication. We do not collect fingerprints.</p>
<p class="subheading"> 
What type of biometric authentication is Durity offering?
</p>
<p class="info">
We are offering fingerprint authentication right now.</p>
<p class="subheading">
How safer is biometric when compared to Encryption key?
</p>
<p class="info">
Without the individual's biometrics, decryption key cannot be decoded, thus the confidentiality of the encrypted sensitive data is still preserved even if the storage device is compromised or stolen. It is definitely more secure than passwords because they are under the maximum risk of being stolen or misused. A biometric detail on the other hand cannot be stolen.
</p>
<p class="subheading">
Do we use encryption? What is Document encryption?
</p>
<p class="info">
Yes. We use encryption thoroughly. Document encryption is the process by which documents are protected with cryptographic keys  like a password, public key, token, etc. so that only individuals with the corresponding decryption keys the same password, private key, token, etc. can open them.  
</p>
<p class="subheading">
What is the difference between Upload and advanced encryption upload?
</p>
<p class="info">
In both standards we are using ASE 256 encryption consistently. Your details are safe with us as they are encrypted.
</p>
<p class="subheading">
I created a will on Durity, what do I have to do with it?
</p>
<p class="info">
Download the will, sign it along with a witness and upload it back for safekeeping with durity. Mention the contact number of the witness also. For extra protection, you can even use durity upload encryption.
  </p>
<p class="subheading">
How do we check the authenticity of the beneficiary? Could anyone come and claim?
</p>
<p class="info">
You will have to inform the beneficiary of the password and that is the only way they can come and collect the document. If they have forgotten the password, there is no way to recover the document. We check the authenticity based on phone number and email id.
</p>
<p class="subheading">
What is Claim process?
</p>
<p class="info">
The claim process starts with the beneficiary reaching out to Durity call center through the number provided in the app and on the site. After a smooth process of verification and authentication, we deliver the claim. It is of immense importance to have the right legal documents in place of an emergency to receive the information in the vault incase the password isn’t with them.
</p>
</div>

<div class="heading">
<b>About Documents:</b>
</div>
<div padding>
<p class="subheading">
What kinds of documents can I upload?
</p>
<p class="info">
We accept any digital file. This can be photos, scans, mp3 files, Word documents, PDF files, audio file,video files.
</p>
<p class="subheading"> 
What do I do after I upload a document?
</p>
<p class="info">
You can assign the contacts listed as one of the trustee for that information.
Then  you can set up security and  provide access  to your information  to the Trustee,so that the right files get to the right people at the right time.
</p>
<p class="subheading">
Can I add and remove documents any time??
</p>
<p class="info">
You can add or remove assets from your Vault at any time. trustee access to your old assets will be revoked. 	
</p>
<p class="subheading">
Can I update my documents? 	
</p>
<p class="info"> 
You can make unlimited updates for the rest of your life. You can keep your Vault active with Durity for your entire life, updating the documents whenever you please. You never have to worry about a loved one stumbling across a document that might be intended for them, but not quite yet. We take care of informing your Trustee  at the right time.
</p>
<p class="sybheading">
Why would I use this service rather than Dropbox or Google Drive?	
</p>
<p class="info"> 
Dropbox and Google Drive are simply document repositories. You cannot assign access to these documents .
You also have no clear tracking to know when somebody has accessed, or attempted to access, your Dropbox or Google Drive.  
</p>
</div>

<div class="heading">
 <b>About my Trustee:</b> 
</div>

<div padding>
<p class="subheading">
  Who is Trustee?
</p> 
<p class="info">
  The Trustee is the ones who will claim the information or documents 
</p>

<p class="subheading">
  Should only my immediate family members be the Trustee?
</p> 
<p class="info">
  No, any of your contacts can be a trustee. You can also have your Chartered account, or your lawyer as one of your trustee.
</p>

<p class="subheading">
  Should only my immediate family members be the Trustee?
</p> 
<p class="info">
  No, any of your contacts can be a Trustee. You can also have your Chartered account, or your lawyer as one of your trustee.
  But we recommend that you have your spouse as Beneficiary(L1) Trustee, kids as Beneficiary(L2)
  Trustee if they are majors or will be major soon.
  If they are minors, you can have your parents, in-laws, or your brother as Beneficiary(L2) Trustee. 
</p>

<p class="subheading">
  How do we inform our Trustee about Durity?
</p> 
<p class="info">
  Once your documents are uploaded we have an option to notify the trustee that you have uploaded some documents for them.
</p>

<p class="subheading">
  Will all the Trustees get my information?
</p> 
<p class="info">
  Even if one Beneficiary(L1) claims the information and it is proven that the documents can be released, then all Levels will receive the information.
</p>
 
<p class="subheading">
  Who can claim my information?
</p> 
<p class="info">
  Your designated assignees(Trustee) can claim your information
</p>

<p class="subheading">
  Can a Beneficiary(L2) or Guardian/Trustee Trustee claim my information?
</p> 
<p class="info">
  In the absence of Beneficiary(L1) Trustee, Beneficiary(L2) can claim the information.
</p>
 
<p class="subheading">
  When can my Trustee approach  Durity for documents?
</p> 
<p class="info">
  In case of any emergency , Trustee can claim your information from durity, with  their identification documents.
  After complete legal verification by a team of experts we will release your documents.
</p>
 
<p class="subheading">
  How can my Trustee access the information I stored for them in Durity?
</p> 
<p class="info">
  In case of emergency, family members can go to Durity website and call the support number listed there or file a claim online. Once the claim is filed, our legal team does a thorough fool-proof rigorous verification process to validate the claim. Only after the verification is successful, the assignees will get the documents. If the verification fails, then the assignees will not get the documents.
</p>
</div>

<div class="heading">
  <b>About password and encryption</b>
</div>
  
<div padding>
<p class="subheading">
  Can I use my own password for encrypting the files?
</p> 
<p class="info">
  Yes,you may use your own password for encryption.It should have minimum 6 characters.
  However if lost there is no way to recover your file.
</p>
  
<p class="subheading">
  What are the different types of encryption?
</p> 
<p class="info">
  You may either continue with highly secure user encryption or choose Durity Encryption(Double Encryption).
</p>
  
<p class="subheading">
  Do I need to inform the password to the Trustee? 
</p> 
<p class="info">
  Yes, you will need to inform your Trustee about the password.
</p>
  
<p class="subheading">
  How should I send the password to others?
</p> 
<p class="info">
  We have provided a share option after you store your documents.
  The share option will open up a pop-up template for you .Enter your  encryption  password in the template and share it  with your Trustee(Note:Durity server will  NOT store your password.You will manually have to write down your password in the template and share it).
</p>
     
<p class="subheading">
  Does Durity store the encryption password ?
</p> 
<p class="info">
  NO
</p>
  
<p class="subheading">
  What happens if I forget the encryption password?
</p> 
<p class="info">
  There is no way to recover the document
</p>
  
<p class="subheading">
  What happens if the Trustee forget the encryption password?
</p> 
<p class="info">
  There is no way to recover the document,even if the Trustee forgets the document.It is mandatory for him/her to remember your encryption password.
</p>
 
<p class="subheading">
  Can I use my own tool for encryption and decryption?
</p> 
<p class="info">
  Yes, but make sure you add the algorithm that you used for encryption and decryption in the notes section. That way your Trustee know how to decrypt the documents
</p>
      
</div>



  </div>
 <div class="next-btn">
    <ion-button (click)="goto('home')" float-right>
     close
    </ion-button>

  </div>
</ion-content>  