<ion-toolbar style="padding-top: 40px;">
  

<ion-buttons slot="end" style="padding-top: 20px;">
<ion-button (click)="remove()" slot="icon-only" fill="clear" >
  <span style="color:#FF715B;font-size:25px;">
    <ion-icon style="height: 50px;" src="assets/imgs/X mark.svg"></ion-icon>
  </span>

</ion-button>
</ion-buttons>

</ion-toolbar>
<ion-content>
  <div style="padding-left: 10px;padding-right: 10px;">
  <label style="font-weight: bold;">Financial Advisor:</label>
  <p>If you are an advisor looking forward to collaborate with Durity,please select the first option. You will be provided
    with a unique 'Advisor Code' which you can share with your clients and get them onboarded.
  </p>
  <br>
  <label style="font-weight: bold;">I have an Advisor/Bank code:</label>
  <p>We are associated with a number of financial advisors and banks. If you are here via an invite from any of them please
    select the second option and enter the code given by your advisor/bank. If you don't have the code, please get in touch 
    with your advisor/bank.
  </p>
  <br>
  <label style="font-weight: bold;">New Durity User:</label>
  <p>If you are here out of your own interest and are not connected to any advisor/bank, please select the the last option.
    We are delighted to have you here!
  </p>
</div>
</ion-content>
