<ion-header no-border>
    <ion-toolbar>
        <div class="durity-back-btn">
            <ion-buttons slot="start">
                <ion-button slot="icon-only" fill="clear" size="small" (click)="goBack()" class="back-btn">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                    <small style="font-weight: bold;">Back</small>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content padding>

    <div class="ion-text-center">
        <div class="font-16 mt-1" padding-bottom>Re-Confirm encryption password</div>
        
        <div class="input">
            <ion-input [(ngModel)]="passwordKey" type="password" autofocus="true"></ion-input>
        </div>
        
        <div class="mt-1" float-right padding-right>
            <div *ngIf="flagType; else elseBlock">
                <ion-button color="primary" (click)=" encryptFile(msg)" class="pass-file">
                    
                        <span class="font-12">Encrypt Submit</span>
                </ion-button>
            </div>
            <ng-template #elseBlock>
                    <ion-button color="primary" (click)=" getDecryptedFile()" class="pass-file">
                            <span class="font-12">Decrypt Submit</span>
                        </ion-button>
            </ng-template>
        </div>

    </div>

</ion-content>