

<!-- <ion-toolbar style="padding-top: 3px;">
		    
  <div class="durity-back-btn">
      <ion-buttons slot="start">
        <ion-button slot="icon-only" fill="clear" size= "small" (click)="goBack()" class="back-btn"> 
            <ion-icon name="ios-arrow-back"></ion-icon>
            <small>Back</small>
        </ion-button>
      </ion-buttons>
    </div>

  </ion-toolbar> -->

  <!-- <ion-toolbar>
    <div class="durity-back-btn">
      <ion-buttons slot="start" *ngIf="this.globalvariablesProvider.addBeneficiaries === false">
        <ion-button slot="icon-only" fill="clear" size="small" (click)="goBack()" class="back-btn">
          <ion-icon name="ios-arrow-back"></ion-icon>
          <small>Back</small>
        </ion-button>
      </ion-buttons>
    </div>

    <div class="durity-back-btn">
      <ion-buttons slot="start">
        <ion-button slot="icon-only" fill="clear" size="small" (click)="Back()" class="back-btn">
          <ion-icon name="ios-arrow-back"></ion-icon>
          <small>Back</small>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-label>Disclaimer</ion-label>
    </div>

  </ion-toolbar> -->
  <!-- <ion-popover-view > -->
  <ion-content>
  <ion-toolbar>
    <div class="durity-back-btn">
        <ion-buttons slot="start">
            <ion-button slot="icon-only" fill="clear" size="small" (click)="goBack()" class="back-btn">
                <ion-icon name="ios-arrow-back"></ion-icon>
                <small style="font-weight: bold;">Back</small>
            </ion-button>
        </ion-buttons>
    </div>
    <!-- <div >
        <ion-label> Disclaimer</ion-label>
    </div> -->
    <div class="upload-doc">
      <ion-label  style="font-weight: 18px;backface-visibility: hidden;">Disclaimer</ion-label>
    </div>
</ion-toolbar>
    
<!-- <div style="text-align: center;font-weight: bold;">
  <ion-label >Disclaimer</ion-label>
</div> -->



     
       <ul class="leaf" style="padding-right: 20px;backface-visibility: hidden;">
       
         <li><span><p style="font-size: 16px;">
        <label>This form has been designed by a set of authorized lawyers. Using this, you can easily create your Will just by entering your details. Once you enter your details, we will create your Will based on the inputs you provide. You can list down all your assets, assign beneficiaries, distribute your assets in different proportions to multiple beneficiaries, etc. This Will should suffice for most  of the inheritance scenarios and can save you from unnecessary hardship later in time of an emergency. We suggest you consult a lawyer in case you have a complicated scenario or need legal advice.
        </label></p></span></li>

        <li><span ><p style="font-size: 16px;"> <label>You accept to our </label> <a href="https://www.durity.life/terms.html">Terms & Conditions.</a></p>
        </span></li>
       </ul>
       <ion-button style="padding-right: 20px; text-transform: capitalize;width: 100px; " (click)="ok()" float-right> Ok </ion-button>

   </ion-content>
  <!-- </ion-popover-view> -->