<ion-row float-right>
  <ion-col size = '12'>
    <ion-icon src = "assets/imgs/close-outline.svg"  (click) = 'onCancel()' size = large >
    </ion-icon>
  </ion-col>
</ion-row>
<div style = 'text-align:center;padding-top: 8%;padding-left:4%'>
       
     <ion-row>
        <ion-col>
          Please upgrade your account to continue.
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-button (click) = 'onOK()'>
            Upgrade
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
        
   
  
    
   
    
    


    

 
