<ion-content scroll="false">
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col size="auto"><img src="/assets/imgs/Group 740.svg" alt="" /></ion-col>
        <ion-col>
          <p class="ma-0 font-20 font-bold">We have successfully created your will. Your family is safe now.</p>
          <!--p class="ma-0 font-24 font-bold">your will</p-->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item style="padding-bottom: 10%;" lines="none">
    <p class="page-content">You can collect the will document any time from all document screen and edit it from the icon in the home screen.</p>
  </ion-item>

  <ion-item lines="none" >
    <ion-button (click)="goHome()" class="go-to-home-button"><label style="color: solid #4895F1;">Home</label></ion-button>
    <ion-button class="download-button" (click)="downloadwilltest()">Download</ion-button>
  </ion-item>
</ion-content>