<ion-content class="login-home-page durity-bg">
        <div class="div-section" >
            <div class="img-section" >
              <img src="./assets/imgs/everything_tick.svg" alt="Tick">
          </div>
         
          <p class="font-20">Everything is set!</p>
          <div>
              <img src="./assets/imgs/arranging_files .svg" alt="Arrange_files">
          </div>
          <div class="arrow_right" (click)="finish()">
              <img src="./assets/imgs/arrow-right (1).svg" alt="Arrow Right" class="arrow">
          </div>
          </div>
    </ion-content>