<ion-content>
  <!-- <ion-card>
<img src = "{{fileUrl}}"/>
  </ion-card>
   -->
</ion-content>

<ion-footer no-border>
  <ion-toolbar class="durity-bg">
       
       <ion-item lines="none" class="durity-bg"> 
          
        <ion-button (click)="cancel()" color="white"  size="medium"  slot="start" class="next-btn">
          <span class="next">CANCEL</span> 
        </ion-button>

      <ion-button (click)="save()" color="white"  size="medium"  slot="end" class="next-btn">
        <span class="next"> SAVE</span> 
      </ion-button>
  </ion-item>   
 

  </ion-toolbar>
</ion-footer>
