.btn-section{
    
    padding-top: 5%;
    text-align: center;
}
// .text{
//     padding-top:5%;
// }
ion-textarea{
    border:1px solid #DEDEDE;
    border-radius: 5px;
    // height: 400px;
}
.error{
    color:red;
    padding-left: 2%;
    font-size: 14px;
}
