<ion-content >
  <ion-toolbar >
      <div class="durity-back-btn">
          <ion-buttons slot="start">
            <ion-button slot="icon-only" fill="clear" size= "small" (click)="goBack()" class="back-btn"> 
                <ion-icon name="ios-arrow-back"></ion-icon>
                <small style="font-weight: bold;">Back</small>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-toolbar>
<div  padding>
<div class="div-section" >
  <!-- <h1 class="hang-on">Hang-on..</h1>
  <p font-16 >We are changing your password!</p> -->
  <img class="plane" src="/assets/imgs/Secure Lock.png" >
  <h2  class="frgt">Change Password</h2>
  </div>
  <form [formGroup]="changePassForm" (ngSubmit)="continue()" #reset="ngForm">
  <div padding>
    <!-- <div class="text">
    <ion-label>Please enter old password</ion-label>
  </div> -->
  <p class="tets" >Enter current password</p>
        <ion-item class="pass" lines="none">
            <ion-input type="password" placeholder="Enter current password"  formControlName= "oldPassword"></ion-input>
        </ion-item>
    </div>
    <div
                    *ngIf="changePassForm.get('oldPassword').invalid  && (changePassForm.get('oldPassword').touched || changePassForm.get('oldPassword').dirty || reset.submitted)">
                    <small class="error" *ngIf="changePassForm.get('oldPassword').errors.required">Password is required</small>
                    <small class="error" *ngIf="changePassForm.get('oldPassword').errors.minlength">Password must contain at least 6 characters</small>
                </div>
    <div padding style="margin-top: -2%;">
      <p class="tets" >Enter New password</p>
          <ion-item class="pass" lines="none">
              <ion-input type="password" placeholder="Enter new password"  formControlName= "newPassword"></ion-input>
          </ion-item>
    </div>
    <div
                    *ngIf="changePassForm.get('newPassword').invalid  && (changePassForm.get('newPassword').touched || changePassForm.get('newPassword').dirty || reset.submitted)">
                    <small class="error" *ngIf="changePassForm.get('newPassword').errors.required">Password is required</small>
                    <small class="error" *ngIf="changePassForm.get('newPassword').errors.minlength">Password must contain at least 6 characters</small>
     </div>
    <div padding style="margin-top: -1%;">
          <ion-item  class="pass" lines="none">
              <ion-input type="password" placeholder="Re-enter new password"  formControlName= "confirmPassword"></ion-input>
          </ion-item>
    </div>
    <div
                    *ngIf="changePassForm.get('confirmPassword').invalid  && (changePassForm.get('confirmPassword').touched || changePassForm.get('confirmPassword').dirty || reset.submitted)">
                    <small class="error" *ngIf="changePassForm.get('confirmPassword').errors.required">Password is required</small>
                    <small class="error" *ngIf="changePassForm.get('newPassword') !== changePassForm.get('confirmPassword')">Passwords don't match. </small>
          </div>
  <div style="margin-top: 15%;">
      <ion-button color = "ble" class="buton" type="submit"><b style="font-size: 16;color: rgb(255, 255, 255);text-transform: none;" >Continue</b></ion-button>
  </div>
  </form>
</div>
</ion-content>