<ion-content class="login-home-page">
    <div class="div-section" text-center>
        <div class="radial-gradient">
                
        </div>
        <div class="img-section" padding>
            <img src="./assets/imgs/Group 358.svg" alt="Login Page">
        </div>
        
        <div class="button-section pl-2 pr-2">
            <ion-button expand="block" class="durity-button" (click)="goto('signUp')">Sign up </ion-button>
            <ion-button expand="block" class="mt-1 durity-button2" (click)="goto('signIn')">Sign in </ion-button><br />
        </div>
        <div class="img-section2">
            <img src="./assets/imgs/family_3.svg" alt="Login Page">
        </div>
    </div>
</ion-content>