<ion-content>
  <ion-toolbar>
     
      <div >
        <ion-row style="padding: 2%;padding-right: 10%">
          <ion-col style="font-weight: bold;font-size: 16px;padding-top: 50px;text-align: center;">
            <label> Do you have a financial advisor? </label>
            <!-- <label><label style="color: #4895F1;" >'Downloads'</label> folder.</label> -->
          </ion-col>
        </ion-row>
        <ion-row style="padding: 2%;padding-right: 5%">
          <ion-col style="font-size: 12px;text-align: center;">
            <label> If Yes, please enter the code provided by your financial advisor </label>
            <!-- <label><label style="color: #4895F1;" >'Downloads'</label> folder.</label> -->
          </ion-col>
        </ion-row>
        <!-- <ion-row style="padding: 1%;padding-right: 10%"> -->
          <!-- <ion-col > -->
            <form>
            <ion-col style="font-size: 12px;text-align: center;">

            <ion-input style="border-color: #78B2F71A;background-color: #78B2F71A;" placeholder="Eg:A1004"></ion-input>
            </ion-col>
          <!-- </ion-col> -->
        <!-- </ion-row> -->

        <ion-footer  text-center no-border padding-bottom>
          <ion-row>
            <ion-col class="delete-btn">
              <ion-button   size="medium"> No </ion-button>
            </ion-col>
            <ion-col>
              <ion-button  class="cancel-btn" style="color: #4895F1;" size="medium"> <label style="color: white;">Submit</label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </form>
         
      </div>
    
  </ion-toolbar>
  <!-- <div style="padding-right: 5px;padding-left: 5px;">

    <ion-row>
      <ion-col size='1'>
   <span> <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /> </span>
  </ion-col>
  <ion-col><span>
        <label style="font-weight: bold;">Print the file and sign</label>
         on all pages along with two witnesses in the same place and at the same time
        </span>  </ion-col>   </ion-row>

        <ion-row>
          <ion-col size='1'>
           <span> <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /></span>
          </ion-col>
          <ion-col><span>
         <label> On the 2nd page, draw a cross if any blank space in the bottom.
        </label></span></ion-col>
        </ion-row>

        <ion-row>
      
        <ion-col size='1'>
         <span> <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /></span>
        </ion-col>
        <ion-col><span>
       <label> Keep the document safe and let your beneficiary know where it is stored. You can also <label style="font-weight: bold;">scan the signed copy</label> of your
        Will and <label style="font-weight: bold;">upload it to Durity</label> for safekeeping.</label></span></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size='1'>
          <span>  <img src="/assets/imgs/Icon awesome-long-arrow-alt-right.svg" alt="" /></span>
        </ion-col>
        <ion-col><span>
        It is recommended that you <label style="font-weight: bold;">take a video</label>
         of yourself along with your witnesses while signing the Will and <label style="font-weight: bold;">upload it to Durity.</label>
        </span> </ion-col>
      </ion-row>
      
    
    
    

  </div> -->
  <!-- <div style="padding-right: 10%;padding-top: 15px;">
  <ion-button (click)="onPressedOK()" style="color: #4895F1;height: 36px;width: 78px;;"  float-right><label style="color: white;">Ok</label></ion-button>
  </div> -->
</ion-content>
